<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Project_Kothin.Properties.Settings.PorjotonConnectionString"
            connectionString="Data Source=DESKTOP-9DIP61O\SQLEXPRESS;Initial Catalog=Porjoton;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="IronPdf.LicenseKey" value="IRONPDF.VHJSXRWWLFPGZJTYPW.6550-8912DFE4F4-DYFXBZNKCH6TCEX-X2XQ6SPSHOUB-XWMQJXQPYL4P-AUODAMJXLRLE-IAZTFOJZZHQF-OGRTTY-TZTFMYEUFOWIUA-DEPLOYMENT.TRIAL-DTOEIM.TRIAL.EXPIRES.22.JAN.2023" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>